.container {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  z-index: 998;
}

.systemPromptContainer {
  position: fixed;

  left: 50%;
  transform: translate(-50%);
  z-index: 999;

  // width: 50vw;
  // width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: none;
  padding: 8px;
}

.systemPrompt {
  width: 100%;
  // width: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgb(103, 228, 111);
  border-radius: 8px;
  padding: 8px 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.systemPromptHeaderContainer {
  top: 0;

  > .systemPromptHeader {
    min-height: 50px;
  }
}

.systemPromptFooterContainer {
  bottom: 0;

  > .systemPromptFooter {
    width: 100%;
    // width: 50%;
    min-height: 150px;
  }
}
