.container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  background: none;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 10px;
    border: 3px solid;
    border-radius: 10px;
  }
}
