#three-container {
  width: 100%;
  height: 100vh;
}

canvas {
  background: #000;
}

.banselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;
}
